<launch>

  <!-- Shadow Hand trajectory server -->
    <node pkg="sr_traj_server" name="sr_trajectory_server" type="sr_traj_server" output="screen" ns="sr_traj_server">
    <param name="trajectory_dir" type="string" value="$(find sr_traj_server)/trajectories/" />
     <remap from="sendupdate" to="/srh/sendupdate"/>
    <rosparam file="$(find sr_traj_server)/config/KCL_grasp_config.yaml" command="load"/>
  </node>

</launch>

